h3 {
    margin-left: 32%;
    color: #7D7D7D;
    margin-top: 10px;
    margin-bottom: 10px;
}

form{
    width: 100%;
}

.basic-form-container {
    width: 73%;
    margin: 50px 6% 50px 21%;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;

}

.basic-form-container {
    background-color: #d5f4ef;
    padding: 20px;
}

.basic-form-flexbox {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.basic-form-flexbox > div {
    width: 45%;
    margin-bottom: 20px;
}

.basic-form-flexbox > div:last-child {
    display: flex;
}

.basic-form-flexbox label {
    display: block;
    font-weight: bold;
}

.basic-form-flexbox button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 768px) {
    .basic-form-flexbox > div {
        width: 80%;
    }
}

[type="submit"] {
    cursor: pointer;
}

.button-container {
    display: flex;
    height: 50px;
    gap: 20px;
    width: 100%;
    /* border: 1px solid; */
    justify-content: center;
    flex: 2;
}

.button-container button {
    min-width: 100px;
    width: 187px;
    font-size: larger;
    padding: 5px;
    height: 100%;
    background: #6AB4F8;
    box-shadow: 0px 13px 25px rgba(0, 0, 0, 0.15);
    border-radius: 500px;
    border: none;
    color: white;
}

@media screen and (width <= 400px) {
    .button-container button{
        width: max-content;
    }
}