.property-form-container {
    width: 73%;
    color: #1b1a1a;
    background-color: #d5f4ef;
    border-radius: 10px;
    margin: 50px 6% 50px 21%;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 0 0 ;
}

form > div {
    width: 45%;
    display: block;
    margin-bottom: 20px;
}

.property-form-container label {
    font-weight: bold;
    color: #7d7d7d;
}

@media screen and (max-width: 768px) {
    form > div {
        width: 80%;
    }
}